// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-accout-right-name: 'icon-accout-right';
$icon-accout-right-x: 310px;
$icon-accout-right-y: 78px;
$icon-accout-right-offset-x: -310px;
$icon-accout-right-offset-y: -78px;
$icon-accout-right-width: 12px;
$icon-accout-right-height: 12px;
$icon-accout-right-total-width: 322px;
$icon-accout-right-total-height: 307px;
$icon-accout-right-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-accout-right: (310px, 78px, -310px, -78px, 12px, 12px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-accout-right', );
$icon-alipay-name: 'icon-alipay';
$icon-alipay-x: 170px;
$icon-alipay-y: 75px;
$icon-alipay-offset-x: -170px;
$icon-alipay-offset-y: -75px;
$icon-alipay-width: 24px;
$icon-alipay-height: 24px;
$icon-alipay-total-width: 322px;
$icon-alipay-total-height: 307px;
$icon-alipay-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-alipay: (170px, 75px, -170px, -75px, 24px, 24px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-alipay', );
$icon-bag-name: 'icon-bag';
$icon-bag-x: 0px;
$icon-bag-y: 242px;
$icon-bag-offset-x: 0px;
$icon-bag-offset-y: -242px;
$icon-bag-width: 40px;
$icon-bag-height: 32px;
$icon-bag-total-width: 322px;
$icon-bag-total-height: 307px;
$icon-bag-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-bag: (0px, 242px, 0px, -242px, 40px, 32px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-bag', );
$icon-check-ok-name: 'icon-check-ok';
$icon-check-ok-x: 79px;
$icon-check-ok-y: 274px;
$icon-check-ok-offset-x: -79px;
$icon-check-ok-offset-y: -274px;
$icon-check-ok-width: 14px;
$icon-check-ok-height: 14px;
$icon-check-ok-total-width: 322px;
$icon-check-ok-total-height: 307px;
$icon-check-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-check-ok: (79px, 274px, -79px, -274px, 14px, 14px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-check-ok', );
$icon-check-name: 'icon-check';
$icon-check-x: 310px;
$icon-check-y: 66px;
$icon-check-offset-x: -310px;
$icon-check-offset-y: -66px;
$icon-check-width: 12px;
$icon-check-height: 12px;
$icon-check-total-width: 322px;
$icon-check-total-height: 307px;
$icon-check-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-check: (310px, 66px, -310px, -66px, 12px, 12px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-check', );
$icon-checked-name: 'icon-checked';
$icon-checked-x: 310px;
$icon-checked-y: 54px;
$icon-checked-offset-x: -310px;
$icon-checked-offset-y: -54px;
$icon-checked-width: 12px;
$icon-checked-height: 12px;
$icon-checked-total-width: 322px;
$icon-checked-total-height: 307px;
$icon-checked-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-checked: (310px, 54px, -310px, -54px, 12px, 12px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-checked', );
$icon-close-name: 'icon-close';
$icon-close-x: 310px;
$icon-close-y: 90px;
$icon-close-offset-x: -310px;
$icon-close-offset-y: -90px;
$icon-close-width: 9px;
$icon-close-height: 9px;
$icon-close-total-width: 322px;
$icon-close-total-height: 307px;
$icon-close-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-close: (310px, 90px, -310px, -90px, 9px, 9px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-close', );
$icon-delete-name: 'icon-delete';
$icon-delete-x: 224px;
$icon-delete-y: 242px;
$icon-delete-offset-x: -224px;
$icon-delete-offset-y: -242px;
$icon-delete-width: 16px;
$icon-delete-height: 17px;
$icon-delete-total-width: 322px;
$icon-delete-total-height: 307px;
$icon-delete-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-delete: (224px, 242px, -224px, -242px, 16px, 17px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-delete', );
$icon-down-name: 'icon-down';
$icon-down-x: 121px;
$icon-down-y: 274px;
$icon-down-offset-x: -121px;
$icon-down-offset-y: -274px;
$icon-down-width: 16px;
$icon-down-height: 9px;
$icon-down-total-width: 322px;
$icon-down-total-height: 307px;
$icon-down-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-down: (121px, 274px, -121px, -274px, 16px, 9px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-down', );
$icon-email-name: 'icon-email';
$icon-email-x: 156px;
$icon-email-y: 190px;
$icon-email-offset-x: -156px;
$icon-email-offset-y: -190px;
$icon-email-width: 41px;
$icon-email-height: 33px;
$icon-email-total-width: 322px;
$icon-email-total-height: 307px;
$icon-email-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-email: (156px, 190px, -156px, -190px, 41px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-email', );
$icon-error-tips-name: 'icon-error-tips';
$icon-error-tips-x: 65px;
$icon-error-tips-y: 274px;
$icon-error-tips-offset-x: -65px;
$icon-error-tips-offset-y: -274px;
$icon-error-tips-width: 14px;
$icon-error-tips-height: 14px;
$icon-error-tips-total-width: 322px;
$icon-error-tips-total-height: 307px;
$icon-error-tips-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-error-tips: (65px, 274px, -65px, -274px, 14px, 14px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-error-tips', );
$icon-error-name: 'icon-error';
$icon-error-x: 51px;
$icon-error-y: 274px;
$icon-error-offset-x: -51px;
$icon-error-offset-y: -274px;
$icon-error-width: 14px;
$icon-error-height: 14px;
$icon-error-total-width: 322px;
$icon-error-total-height: 307px;
$icon-error-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-error: (51px, 274px, -51px, -274px, 14px, 14px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-error', );
$icon-feature-header1-name: 'icon-feature-header1';
$icon-feature-header1-x: 242px;
$icon-feature-header1-y: 138px;
$icon-feature-header1-offset-x: -242px;
$icon-feature-header1-offset-y: -138px;
$icon-feature-header1-width: 29px;
$icon-feature-header1-height: 33px;
$icon-feature-header1-total-width: 322px;
$icon-feature-header1-total-height: 307px;
$icon-feature-header1-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-feature-header1: (242px, 138px, -242px, -138px, 29px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-feature-header1', );
$icon-feature-header2-name: 'icon-feature-header2';
$icon-feature-header2-x: 242px;
$icon-feature-header2-y: 171px;
$icon-feature-header2-offset-x: -242px;
$icon-feature-header2-offset-y: -171px;
$icon-feature-header2-width: 29px;
$icon-feature-header2-height: 33px;
$icon-feature-header2-total-width: 322px;
$icon-feature-header2-total-height: 307px;
$icon-feature-header2-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-feature-header2: (242px, 171px, -242px, -171px, 29px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-feature-header2', );
$icon-feature-header3-name: 'icon-feature-header3';
$icon-feature-header3-x: 242px;
$icon-feature-header3-y: 204px;
$icon-feature-header3-offset-x: -242px;
$icon-feature-header3-offset-y: -204px;
$icon-feature-header3-width: 29px;
$icon-feature-header3-height: 33px;
$icon-feature-header3-total-width: 322px;
$icon-feature-header3-total-height: 307px;
$icon-feature-header3-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-feature-header3: (242px, 204px, -242px, -204px, 29px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-feature-header3', );
$icon-feature-header4-name: 'icon-feature-header4';
$icon-feature-header4-x: 0px;
$icon-feature-header4-y: 274px;
$icon-feature-header4-offset-x: 0px;
$icon-feature-header4-offset-y: -274px;
$icon-feature-header4-width: 29px;
$icon-feature-header4-height: 33px;
$icon-feature-header4-total-width: 322px;
$icon-feature-header4-total-height: 307px;
$icon-feature-header4-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-feature-header4: (0px, 274px, 0px, -274px, 29px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-feature-header4', );
$icon-footer-name: 'icon-footer';
$icon-footer-x: 0px;
$icon-footer-y: 190px;
$icon-footer-offset-x: 0px;
$icon-footer-offset-y: -190px;
$icon-footer-width: 36px;
$icon-footer-height: 52px;
$icon-footer-total-width: 322px;
$icon-footer-total-height: 307px;
$icon-footer-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-footer: (0px, 190px, 0px, -190px, 36px, 52px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-footer', );
$icon-lift-name: 'icon-lift';
$icon-lift-x: 168px;
$icon-lift-y: 242px;
$icon-lift-offset-x: -168px;
$icon-lift-offset-y: -242px;
$icon-lift-width: 24px;
$icon-lift-height: 20px;
$icon-lift-total-width: 322px;
$icon-lift-total-height: 307px;
$icon-lift-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-lift: (168px, 242px, -168px, -242px, 24px, 20px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-lift', );
$icon-love-name: 'icon-love';
$icon-love-x: 196px;
$icon-love-y: 0px;
$icon-love-offset-x: -196px;
$icon-love-offset-y: 0px;
$icon-love-width: 46px;
$icon-love-height: 42px;
$icon-love-total-width: 322px;
$icon-love-total-height: 307px;
$icon-love-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-love: (196px, 0px, -196px, 0px, 46px, 42px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-love', );
$icon-mb-img-hide-name: 'icon-mb-img-hide';
$icon-mb-img-hide-x: 93px;
$icon-mb-img-hide-y: 274px;
$icon-mb-img-hide-offset-x: -93px;
$icon-mb-img-hide-offset-y: -274px;
$icon-mb-img-hide-width: 14px;
$icon-mb-img-hide-height: 13px;
$icon-mb-img-hide-total-width: 322px;
$icon-mb-img-hide-total-height: 307px;
$icon-mb-img-hide-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-mb-img-hide: (93px, 274px, -93px, -274px, 14px, 13px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-mb-img-hide', );
$icon-mb-img-name: 'icon-mb-img';
$icon-mb-img-x: 107px;
$icon-mb-img-y: 274px;
$icon-mb-img-offset-x: -107px;
$icon-mb-img-offset-y: -274px;
$icon-mb-img-width: 14px;
$icon-mb-img-height: 13px;
$icon-mb-img-total-width: 322px;
$icon-mb-img-total-height: 307px;
$icon-mb-img-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-mb-img: (107px, 274px, -107px, -274px, 14px, 13px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-mb-img', );
$icon-mb-smeil-name: 'icon-mb-smeil';
$icon-mb-smeil-x: 196px;
$icon-mb-smeil-y: 140px;
$icon-mb-smeil-offset-x: -196px;
$icon-mb-smeil-offset-y: -140px;
$icon-mb-smeil-width: 42px;
$icon-mb-smeil-height: 44px;
$icon-mb-smeil-total-width: 322px;
$icon-mb-smeil-total-height: 307px;
$icon-mb-smeil-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-mb-smeil: (196px, 140px, -196px, -140px, 42px, 44px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-mb-smeil', );
$icon-mb-user-name: 'icon-mb-user';
$icon-mb-user-x: 192px;
$icon-mb-user-y: 242px;
$icon-mb-user-offset-x: -192px;
$icon-mb-user-offset-y: -242px;
$icon-mb-user-width: 16px;
$icon-mb-user-height: 18px;
$icon-mb-user-total-width: 322px;
$icon-mb-user-total-height: 307px;
$icon-mb-user-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-mb-user: (192px, 242px, -192px, -242px, 16px, 18px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-mb-user', );
$icon-message-error-ok-name: 'icon-message-error-ok';
$icon-message-error-ok-x: 170px;
$icon-message-error-ok-y: 99px;
$icon-message-error-ok-offset-x: -170px;
$icon-message-error-ok-offset-y: -99px;
$icon-message-error-ok-width: 19px;
$icon-message-error-ok-height: 15px;
$icon-message-error-ok-total-width: 322px;
$icon-message-error-ok-total-height: 307px;
$icon-message-error-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-message-error-ok: (170px, 99px, -170px, -99px, 19px, 15px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-message-error-ok', );
$icon-message-error-name: 'icon-message-error';
$icon-message-error-x: 285px;
$icon-message-error-y: 242px;
$icon-message-error-offset-x: -285px;
$icon-message-error-offset-y: -242px;
$icon-message-error-width: 17px;
$icon-message-error-height: 12px;
$icon-message-error-total-width: 322px;
$icon-message-error-total-height: 307px;
$icon-message-error-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-message-error: (285px, 242px, -285px, -242px, 17px, 12px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-message-error', );
$icon-message-name: 'icon-message';
$icon-message-x: 268px;
$icon-message-y: 242px;
$icon-message-offset-x: -268px;
$icon-message-offset-y: -242px;
$icon-message-width: 17px;
$icon-message-height: 12px;
$icon-message-total-width: 322px;
$icon-message-total-height: 307px;
$icon-message-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-message: (268px, 242px, -268px, -242px, 17px, 12px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-message', );
$icon-msg-name: 'icon-msg';
$icon-msg-x: 197px;
$icon-msg-y: 190px;
$icon-msg-offset-x: -197px;
$icon-msg-offset-y: -190px;
$icon-msg-width: 41px;
$icon-msg-height: 33px;
$icon-msg-total-width: 322px;
$icon-msg-total-height: 307px;
$icon-msg-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-msg: (197px, 190px, -197px, -190px, 41px, 33px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-msg', );
$icon-no-coupon-name: 'icon-no-coupon';
$icon-no-coupon-x: 120px;
$icon-no-coupon-y: 0px;
$icon-no-coupon-offset-x: -120px;
$icon-no-coupon-offset-y: 0px;
$icon-no-coupon-width: 76px;
$icon-no-coupon-height: 75px;
$icon-no-coupon-total-width: 322px;
$icon-no-coupon-total-height: 307px;
$icon-no-coupon-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-no-coupon: (120px, 0px, -120px, 0px, 76px, 75px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-no-coupon', );
$icon-note-name: 'icon-note';
$icon-note-x: 196px;
$icon-note-y: 42px;
$icon-note-offset-x: -196px;
$icon-note-offset-y: -42px;
$icon-note-width: 40px;
$icon-note-height: 48px;
$icon-note-total-width: 322px;
$icon-note-total-height: 307px;
$icon-note-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-note: (196px, 42px, -196px, -42px, 40px, 48px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-note', );
$icon-order-search-name: 'icon-order-search';
$icon-order-search-x: 29px;
$icon-order-search-y: 274px;
$icon-order-search-offset-x: -29px;
$icon-order-search-offset-y: -274px;
$icon-order-search-width: 22px;
$icon-order-search-height: 21px;
$icon-order-search-total-width: 322px;
$icon-order-search-total-height: 307px;
$icon-order-search-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-order-search: (29px, 274px, -29px, -274px, 22px, 21px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-order-search', );
$icon-pass-name: 'icon-pass';
$icon-pass-x: 254px;
$icon-pass-y: 242px;
$icon-pass-offset-x: -254px;
$icon-pass-offset-y: -242px;
$icon-pass-width: 14px;
$icon-pass-height: 16px;
$icon-pass-total-width: 322px;
$icon-pass-total-height: 307px;
$icon-pass-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-pass: (254px, 242px, -254px, -242px, 14px, 16px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-pass', );
$icon-password-hide-name: 'icon-password-hide';
$icon-password-hide-x: 80px;
$icon-password-hide-y: 242px;
$icon-password-hide-offset-x: -80px;
$icon-password-hide-offset-y: -242px;
$icon-password-hide-width: 40px;
$icon-password-hide-height: 30px;
$icon-password-hide-total-width: 322px;
$icon-password-hide-total-height: 307px;
$icon-password-hide-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-password-hide: (80px, 242px, -80px, -242px, 40px, 30px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-password-hide', );
$icon-password-pc-name: 'icon-password-pc';
$icon-password-pc-x: 116px;
$icon-password-pc-y: 190px;
$icon-password-pc-offset-x: -116px;
$icon-password-pc-offset-y: -190px;
$icon-password-pc-width: 40px;
$icon-password-pc-height: 36px;
$icon-password-pc-total-width: 322px;
$icon-password-pc-total-height: 307px;
$icon-password-pc-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-password-pc: (116px, 190px, -116px, -190px, 40px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-password-pc', );
$icon-password-show-name: 'icon-password-show';
$icon-password-show-x: 135px;
$icon-password-show-y: 159px;
$icon-password-show-offset-x: -135px;
$icon-password-show-offset-y: -159px;
$icon-password-show-width: 40px;
$icon-password-show-height: 26px;
$icon-password-show-total-width: 322px;
$icon-password-show-total-height: 307px;
$icon-password-show-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-password-show: (135px, 159px, -135px, -159px, 40px, 26px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-password-show', );
$icon-password-name: 'icon-password';
$icon-password-x: 240px;
$icon-password-y: 242px;
$icon-password-offset-x: -240px;
$icon-password-offset-y: -242px;
$icon-password-width: 14px;
$icon-password-height: 16px;
$icon-password-total-width: 322px;
$icon-password-total-height: 307px;
$icon-password-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-password: (240px, 242px, -240px, -242px, 14px, 16px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-password', );
$icon-pc-bag-name: 'icon-pc-bag';
$icon-pc-bag-x: 40px;
$icon-pc-bag-y: 242px;
$icon-pc-bag-offset-x: -40px;
$icon-pc-bag-offset-y: -242px;
$icon-pc-bag-width: 40px;
$icon-pc-bag-height: 32px;
$icon-pc-bag-total-width: 322px;
$icon-pc-bag-total-height: 307px;
$icon-pc-bag-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-pc-bag: (40px, 242px, -40px, -242px, 40px, 32px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-pc-bag', );
$icon-pc-password-name: 'icon-pc-password';
$icon-pc-password-x: 76px;
$icon-pc-password-y: 190px;
$icon-pc-password-offset-x: -76px;
$icon-pc-password-offset-y: -190px;
$icon-pc-password-width: 40px;
$icon-pc-password-height: 36px;
$icon-pc-password-total-width: 322px;
$icon-pc-password-total-height: 307px;
$icon-pc-password-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-pc-password: (76px, 190px, -76px, -190px, 40px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-pc-password', );
$icon-pc-smeil-name: 'icon-pc-smeil';
$icon-pc-smeil-x: 70px;
$icon-pc-smeil-y: 120px;
$icon-pc-smeil-offset-x: -70px;
$icon-pc-smeil-offset-y: -120px;
$icon-pc-smeil-width: 65px;
$icon-pc-smeil-height: 68px;
$icon-pc-smeil-total-width: 322px;
$icon-pc-smeil-total-height: 307px;
$icon-pc-smeil-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-pc-smeil: (70px, 120px, -70px, -120px, 65px, 68px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-pc-smeil', );
$icon-phone-check-name: 'icon-phone-check';
$icon-phone-check-x: 242px;
$icon-phone-check-y: 0px;
$icon-phone-check-offset-x: -242px;
$icon-phone-check-offset-y: 0px;
$icon-phone-check-width: 32px;
$icon-phone-check-height: 46px;
$icon-phone-check-total-width: 322px;
$icon-phone-check-total-height: 307px;
$icon-phone-check-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone-check: (242px, 0px, -242px, 0px, 32px, 46px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone-check', );
$icon-phone-diabled-name: 'icon-phone-diabled';
$icon-phone-diabled-x: 242px;
$icon-phone-diabled-y: 92px;
$icon-phone-diabled-offset-x: -242px;
$icon-phone-diabled-offset-y: -92px;
$icon-phone-diabled-width: 32px;
$icon-phone-diabled-height: 46px;
$icon-phone-diabled-total-width: 322px;
$icon-phone-diabled-total-height: 307px;
$icon-phone-diabled-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone-diabled: (242px, 92px, -242px, -92px, 32px, 46px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone-diabled', );
$icon-phone-mb-ok-name: 'icon-phone-mb-ok';
$icon-phone-mb-ok-x: 175px;
$icon-phone-mb-ok-y: 159px;
$icon-phone-mb-ok-offset-x: -175px;
$icon-phone-mb-ok-offset-y: -159px;
$icon-phone-mb-ok-width: 17px;
$icon-phone-mb-ok-height: 20px;
$icon-phone-mb-ok-total-width: 322px;
$icon-phone-mb-ok-total-height: 307px;
$icon-phone-mb-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone-mb-ok: (175px, 159px, -175px, -159px, 17px, 20px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone-mb-ok', );
$icon-phone-mb-name: 'icon-phone-mb';
$icon-phone-mb-x: 310px;
$icon-phone-mb-y: 0px;
$icon-phone-mb-offset-x: -310px;
$icon-phone-mb-offset-y: 0px;
$icon-phone-mb-width: 12px;
$icon-phone-mb-height: 16px;
$icon-phone-mb-total-width: 322px;
$icon-phone-mb-total-height: 307px;
$icon-phone-mb-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone-mb: (310px, 0px, -310px, 0px, 12px, 16px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone-mb', );
$icon-phone-pc-name: 'icon-phone-pc';
$icon-phone-pc-x: 242px;
$icon-phone-pc-y: 46px;
$icon-phone-pc-offset-x: -242px;
$icon-phone-pc-offset-y: -46px;
$icon-phone-pc-width: 32px;
$icon-phone-pc-height: 46px;
$icon-phone-pc-total-width: 322px;
$icon-phone-pc-total-height: 307px;
$icon-phone-pc-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone-pc: (242px, 46px, -242px, -46px, 32px, 46px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone-pc', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 298px;
$icon-phone-y: 216px;
$icon-phone-offset-x: -298px;
$icon-phone-offset-y: -216px;
$icon-phone-width: 12px;
$icon-phone-height: 16px;
$icon-phone-total-width: 322px;
$icon-phone-total-height: 307px;
$icon-phone-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-phone: (298px, 216px, -298px, -216px, 12px, 16px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-phone', );
$icon-qq-name: 'icon-qq';
$icon-qq-x: 144px;
$icon-qq-y: 242px;
$icon-qq-offset-x: -144px;
$icon-qq-offset-y: -242px;
$icon-qq-width: 24px;
$icon-qq-height: 24px;
$icon-qq-total-width: 322px;
$icon-qq-total-height: 307px;
$icon-qq-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-qq: (144px, 242px, -144px, -242px, 24px, 24px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-qq', );
$icon-replace-name: 'icon-replace';
$icon-replace-x: 137px;
$icon-replace-y: 274px;
$icon-replace-offset-x: -137px;
$icon-replace-offset-y: -274px;
$icon-replace-width: 13px;
$icon-replace-height: 9px;
$icon-replace-total-width: 322px;
$icon-replace-total-height: 307px;
$icon-replace-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-replace: (137px, 274px, -137px, -274px, 13px, 9px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-replace', );
$icon-right-name: 'icon-right';
$icon-right-x: 310px;
$icon-right-y: 99px;
$icon-right-offset-x: -310px;
$icon-right-offset-y: -99px;
$icon-right-width: 7px;
$icon-right-height: 11px;
$icon-right-total-width: 322px;
$icon-right-total-height: 307px;
$icon-right-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-right: (310px, 99px, -310px, -99px, 7px, 11px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-right', );
$icon-security-email-ok-name: 'icon-security-email-ok';
$icon-security-email-ok-x: 274px;
$icon-security-email-ok-y: 0px;
$icon-security-email-ok-offset-x: -274px;
$icon-security-email-ok-offset-y: 0px;
$icon-security-email-ok-width: 36px;
$icon-security-email-ok-height: 36px;
$icon-security-email-ok-total-width: 322px;
$icon-security-email-ok-total-height: 307px;
$icon-security-email-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-email-ok: (274px, 0px, -274px, 0px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-email-ok', );
$icon-security-email-name: 'icon-security-email';
$icon-security-email-x: 274px;
$icon-security-email-y: 144px;
$icon-security-email-offset-x: -274px;
$icon-security-email-offset-y: -144px;
$icon-security-email-width: 36px;
$icon-security-email-height: 36px;
$icon-security-email-total-width: 322px;
$icon-security-email-total-height: 307px;
$icon-security-email-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-email: (274px, 144px, -274px, -144px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-email', );
$icon-security-phone-ok-name: 'icon-security-phone-ok';
$icon-security-phone-ok-x: 274px;
$icon-security-phone-ok-y: 180px;
$icon-security-phone-ok-offset-x: -274px;
$icon-security-phone-ok-offset-y: -180px;
$icon-security-phone-ok-width: 36px;
$icon-security-phone-ok-height: 36px;
$icon-security-phone-ok-total-width: 322px;
$icon-security-phone-ok-total-height: 307px;
$icon-security-phone-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-phone-ok: (274px, 180px, -274px, -180px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-phone-ok', );
$icon-security-phone-name: 'icon-security-phone';
$icon-security-phone-x: 274px;
$icon-security-phone-y: 108px;
$icon-security-phone-offset-x: -274px;
$icon-security-phone-offset-y: -108px;
$icon-security-phone-width: 36px;
$icon-security-phone-height: 36px;
$icon-security-phone-total-width: 322px;
$icon-security-phone-total-height: 307px;
$icon-security-phone-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-phone: (274px, 108px, -274px, -108px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-phone', );
$icon-security-pwd-ok-name: 'icon-security-pwd-ok';
$icon-security-pwd-ok-x: 274px;
$icon-security-pwd-ok-y: 72px;
$icon-security-pwd-ok-offset-x: -274px;
$icon-security-pwd-ok-offset-y: -72px;
$icon-security-pwd-ok-width: 36px;
$icon-security-pwd-ok-height: 36px;
$icon-security-pwd-ok-total-width: 322px;
$icon-security-pwd-ok-total-height: 307px;
$icon-security-pwd-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-pwd-ok: (274px, 72px, -274px, -72px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-pwd-ok', );
$icon-security-user-ok-name: 'icon-security-user-ok';
$icon-security-user-ok-x: 274px;
$icon-security-user-ok-y: 36px;
$icon-security-user-ok-offset-x: -274px;
$icon-security-user-ok-offset-y: -36px;
$icon-security-user-ok-width: 36px;
$icon-security-user-ok-height: 36px;
$icon-security-user-ok-total-width: 322px;
$icon-security-user-ok-total-height: 307px;
$icon-security-user-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security-user-ok: (274px, 36px, -274px, -36px, 36px, 36px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security-user-ok', );
$icon-security-name: 'icon-security';
$icon-security-x: 196px;
$icon-security-y: 90px;
$icon-security-offset-x: -196px;
$icon-security-offset-y: -90px;
$icon-security-width: 38px;
$icon-security-height: 50px;
$icon-security-total-width: 322px;
$icon-security-total-height: 307px;
$icon-security-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-security: (196px, 90px, -196px, -90px, 38px, 50px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-security', );
$icon-send-message-name: 'icon-send-message';
$icon-send-message-x: 135px;
$icon-send-message-y: 120px;
$icon-send-message-offset-x: -135px;
$icon-send-message-offset-y: -120px;
$icon-send-message-width: 50px;
$icon-send-message-height: 39px;
$icon-send-message-total-width: 322px;
$icon-send-message-total-height: 307px;
$icon-send-message-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-send-message: (135px, 120px, -135px, -120px, 50px, 39px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-send-message', );
$icon-send-success-name: 'icon-send-success';
$icon-send-success-x: 120px;
$icon-send-success-y: 75px;
$icon-send-success-offset-x: -120px;
$icon-send-success-offset-y: -75px;
$icon-send-success-width: 50px;
$icon-send-success-height: 39px;
$icon-send-success-total-width: 322px;
$icon-send-success-total-height: 307px;
$icon-send-success-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-send-success: (120px, 75px, -120px, -75px, 50px, 39px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-send-success', );
$icon-silder-left-name: 'icon-silder-left';
$icon-silder-left-x: 310px;
$icon-silder-left-y: 16px;
$icon-silder-left-offset-x: -310px;
$icon-silder-left-offset-y: -16px;
$icon-silder-left-width: 10px;
$icon-silder-left-height: 19px;
$icon-silder-left-total-width: 322px;
$icon-silder-left-total-height: 307px;
$icon-silder-left-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-silder-left: (310px, 16px, -310px, -16px, 10px, 19px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-silder-left', );
$icon-silder-right-name: 'icon-silder-right';
$icon-silder-right-x: 310px;
$icon-silder-right-y: 35px;
$icon-silder-right-offset-x: -310px;
$icon-silder-right-offset-y: -35px;
$icon-silder-right-width: 10px;
$icon-silder-right-height: 19px;
$icon-silder-right-total-width: 322px;
$icon-silder-right-total-height: 307px;
$icon-silder-right-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-silder-right: (310px, 35px, -310px, -35px, 10px, 19px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-silder-right', );
$icon-sina-name: 'icon-sina';
$icon-sina-x: 120px;
$icon-sina-y: 242px;
$icon-sina-offset-x: -120px;
$icon-sina-offset-y: -242px;
$icon-sina-width: 24px;
$icon-sina-height: 24px;
$icon-sina-total-width: 322px;
$icon-sina-total-height: 307px;
$icon-sina-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-sina: (120px, 242px, -120px, -242px, 24px, 24px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-sina', );
$icon-unionpay-name: 'icon-unionpay';
$icon-unionpay-x: 274px;
$icon-unionpay-y: 216px;
$icon-unionpay-offset-x: -274px;
$icon-unionpay-offset-y: -216px;
$icon-unionpay-width: 24px;
$icon-unionpay-height: 24px;
$icon-unionpay-total-width: 322px;
$icon-unionpay-total-height: 307px;
$icon-unionpay-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-unionpay: (274px, 216px, -274px, -216px, 24px, 24px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-unionpay', );
$icon-user-mb-img-name: 'icon-user-mb-img';
$icon-user-mb-img-x: 0px;
$icon-user-mb-img-y: 120px;
$icon-user-mb-img-offset-x: 0px;
$icon-user-mb-img-offset-y: -120px;
$icon-user-mb-img-width: 70px;
$icon-user-mb-img-height: 70px;
$icon-user-mb-img-total-width: 322px;
$icon-user-mb-img-total-height: 307px;
$icon-user-mb-img-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-user-mb-img: (0px, 120px, 0px, -120px, 70px, 70px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-user-mb-img', );
$icon-user-ok-name: 'icon-user-ok';
$icon-user-ok-x: 208px;
$icon-user-ok-y: 242px;
$icon-user-ok-offset-x: -208px;
$icon-user-ok-offset-y: -242px;
$icon-user-ok-width: 16px;
$icon-user-ok-height: 18px;
$icon-user-ok-total-width: 322px;
$icon-user-ok-total-height: 307px;
$icon-user-ok-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-user-ok: (208px, 242px, -208px, -242px, 16px, 18px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-user-ok', );
$icon-user-pc-img-name: 'icon-user-pc-img';
$icon-user-pc-img-x: 0px;
$icon-user-pc-img-y: 0px;
$icon-user-pc-img-offset-x: 0px;
$icon-user-pc-img-offset-y: 0px;
$icon-user-pc-img-width: 120px;
$icon-user-pc-img-height: 120px;
$icon-user-pc-img-total-width: 322px;
$icon-user-pc-img-total-height: 307px;
$icon-user-pc-img-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-user-pc-img: (0px, 0px, 0px, 0px, 120px, 120px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-user-pc-img', );
$icon-user-name: 'icon-user';
$icon-user-x: 36px;
$icon-user-y: 190px;
$icon-user-offset-x: -36px;
$icon-user-offset-y: -190px;
$icon-user-width: 40px;
$icon-user-height: 44px;
$icon-user-total-width: 322px;
$icon-user-total-height: 307px;
$icon-user-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$icon-user: (36px, 190px, -36px, -190px, 40px, 44px, 322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', 'icon-user', );
$spritesheet-width: 322px;
$spritesheet-height: 307px;
$spritesheet-image: '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735';
$spritesheet-sprites: ($icon-accout-right, $icon-alipay, $icon-bag, $icon-check-ok, $icon-check, $icon-checked, $icon-close, $icon-delete, $icon-down, $icon-email, $icon-error-tips, $icon-error, $icon-feature-header1, $icon-feature-header2, $icon-feature-header3, $icon-feature-header4, $icon-footer, $icon-lift, $icon-love, $icon-mb-img-hide, $icon-mb-img, $icon-mb-smeil, $icon-mb-user, $icon-message-error-ok, $icon-message-error, $icon-message, $icon-msg, $icon-no-coupon, $icon-note, $icon-order-search, $icon-pass, $icon-password-hide, $icon-password-pc, $icon-password-show, $icon-password, $icon-pc-bag, $icon-pc-password, $icon-pc-smeil, $icon-phone-check, $icon-phone-diabled, $icon-phone-mb-ok, $icon-phone-mb, $icon-phone-pc, $icon-phone, $icon-qq, $icon-replace, $icon-right, $icon-security-email-ok, $icon-security-email, $icon-security-phone-ok, $icon-security-phone, $icon-security-pwd-ok, $icon-security-user-ok, $icon-security, $icon-send-message, $icon-send-success, $icon-silder-left, $icon-silder-right, $icon-sina, $icon-unionpay, $icon-user-mb-img, $icon-user-ok, $icon-user-pc-img, $icon-user, );
$spritesheet: (322px, 307px, '/skin/frontend/PlumTree/ba_pc_v1/images/customer/sprite.png?t=1507738836735', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
