/* 找回密码*/
@import "_sprite";
@import "base";
@import "findInput";
@import "step";
$accoutForgetColor:#f5f5f5;
.account-forgot{
	background: $accoutForgetColor;
	height: pt(750px);
	width: 100%;
	overflow: hidden;
	.center{
		width: pt(990px);
		height: pt(690px);
		margin: pt(30px) auto;
		background: #fff;
	}
	.account-ctn{
		margin:  0 auto;
		width: pt(395px);
	}
	
	/*第二步*/
	.setp2,
	.setp3{
		font-size: pt(14px);
		color: #333;
	}
	.setp3{
		.input-group{
			height: pt(70px);
			padding-top: pt(0);
			line-height: pt(46px);
		}
		.error{
			width: pt(300px);
			line-height: pt(14px);
			margin:pt(4px) auto 0 pt(86px);
		}
		.icon-check-ok{
			top: pt(18px);
			right: pt(16px);
		}
		.submit-btn{
			margin-top: pt(10px);
		}
	}
}

.forgot-form-box{
    .select-option{
		height: pt(40px);
		line-height: pt(40px);
	}
	.all-item{
		top: pt(24px);
		li{
			height: pt(40px);
			line-height: pt(40px);
		}
	}

}
.input-group.mt{
	margin-top: pt(25px);
}